@charset "UTF-8";

body {
    background-color: #d4dd84;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    font-size: 20px;
}

h1 {
    color: brown;
    background-color: rgb(201, 201, 31);
}
h2 {
    color:rgb(255, 24, 8);
}
p {
    text-align: justify;
}
